{% extends '@admin/layout.twig' %}

{% block title trans("emcx.admin.title") %}
{% block pagetitle trans("emcx.admin.servers.title") %}
{% block pagesubtitle  trans("emcx.admin.servers.subtitle") %}



{% block body %}
    <div class="alert alert-light" role="alert">
        <i class="fa-solid fa-server"></i> {{trans("emcx.admin.servers.connected_to")}} : {{ selected_server|default('N/A') }}
    </div>

    <div class="row">




        {% for server in servers%}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header">
                        {{ server.emcx_name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{trans("emcx.admin.servers.server_info")}} :</h5>
                        <p class="card-text sm mb-1"><i class="fa-solid fa-bookmark"></i> Version EMCX : {{ server.emcx_version }}</p>
                        <p class="card-text sm mb-1"><i class="fa-solid fa-bookmark"></i> Version ClientX : {{ server.clientx_version }}</p>
                        <p class="card-text sm mb-1"><i class="fa-solid fa-border-all"></i>{{trans("emcx.admin.servers.server_module")}} : {{ server.modules }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {% if selected_server == server.emcx_name %}
                        <a href="#" class="btn btn-success disabled">{{trans("emcx.admin.servers.server_already_join")}}</a>
                            {% else %}
                                <a href="#" class="btn btn-primary">{{trans("emcx.admin.servers.server_join")}}</a>
                        {% endif %}
                    </div>
            </div>
        </div>
            {% else %}
                <div class="col-sm-3">
                    <div class="card text-center">
                        <div class="card-header">
                            {{trans("emcx.admin.servers.no_online_server")}}
                        </div>
                    </div>
                </div>
        {% endfor %}

    </div>
{% endblock %}